/* Base styles for larger screens */
nav {
    width: 100%;
    font-size: 20px;
    border-bottom: solid .05px #22668d5b;
    background-color: #FFCC70;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    margin: 0;
    color: #333;
}

nav ul li {
    position: relative;
    margin-right: 20px;
    padding: 5px;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    transition: text-decoration 0.5s;
    padding: 10px;
    display: block;
    color: #22668d;
}

nav ul li a:hover {
    text-decoration: underline;
}
.nav-icon {
    display: none;
}


@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .dropdown-box {
        width: 100%; 
    }
    .nav-icon {
        display: block;
        text-align: left;
        padding: 10px;
        cursor: pointer;
        color: #22668d;
    }

    nav ul {
        display: none; 
    }

    nav ul.show {
        display: flex;
    }
}

footer {
    font-size: 20px;
    background-color: #FFCC70;
    text-align: center;
    padding: 15px;
    justify-content:space-between;
}
footer a {
    
    padding: 10px;
}

.dropdown-box {
    position: absolute;
    background-color: #fffadd;
    width: 200px;
    box-shadow: 0px 8px 16px 0px #22668d48;
    z-index: 1;
    padding: 10px;
    display: none; 
}
.dropdown-box.show {
    display: block;
}

.dropdown-box a {
    padding: 5px;
    transition: text-decoration 0.5s;
}

.dropdown-box a:hover {
    text-decoration: underline;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fffadd;
    color: #22668d;
}

.type {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 20px 0px 0px 30px;
}

.type li {
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    
}
.content{
    flex: 1;
}
a {
    text-decoration: none;
    color: #22668d;
    transition: text-decoration 0.5s;
}

a:hover {
    text-decoration: underline;
}

.Subject {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

#services-box {
    display: none;
}

.dropdown-box.show {
    display: block;
}
#services-box.show {
    display: block;
}
.dropdown-header {
    display: flex;
    align-items: center;
}
.arrow {
    display: inline-block;
    margin-left: 0px; 
    color: #22668d;
}

.arrow.up {
    transform: rotate(180deg);
}
#question1 {
  text-align:center;
}
#question2 {
  text-align:center;
}
#question3 {
  text-align:center;
}
#question4 {
  text-align:center;
}
.icon-container{
  display: grid;
  grid-template-rows:1fr;
  grid-template-columns:1fr;
  grid-row-gap:5px;
  justify-items:center;
  margin-bottom:2%;
  
  
}

.icon-container img {
  background-color:whitesmoke;
  margin:0;
}
.icon-container > img.bc-up-cam {
  min-width:400px;
}




/*******OVERALL MAIN CONTAINER FORMATTING******/
.special-formatting {
  margin-top: 1%;
  font-weight: 700;
  font-size:2em;
  color: black;
background: rgb(243,244,244);
background: -moz-linear-gradient(180deg, rgba(243,244,244,1) 0%, rgba(208,208,208,1) 94%);
background: -webkit-linear-gradient(180deg, rgba(243,244,244,1) 0%, rgba(208,208,208,1) 94%);
background: linear-gradient(180deg, rgba(243,244,244,1) 0%, rgba(208,208,208,1) 94%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f4f4",endColorstr="#d0d0d0",GradientType=1);
  padding: 5%;
  border-radius: 7px;
}
/*******FORMATS PARAGRAPH TAG******/
p {
  font-size: 20px;
}

/*******HOLDS BACKUP CAMERA QUESTIONS HIDDEN PENDING SELECTION******/
.group-waiting {
  display: none;
}
/*******HOLDS ANDROID AUTO/APPLE CARPLAY RESULTS HIDDEN******/
.waiting {
  display: none;
}
/*****FORMATS BULLETED LIST INSIDE OF RESULTS CIRCLES****/
.bullet-offset li {
  margin-left: 20%;
  text-align: left;
}
#waiting-result-display1 {
  display: none;
}
#waiting-result-display2 {
  display: none;
}
#waiting-result-display3 {
  display: none;
}
#waiting-result-display4 {
  display: none;
}
#waiting-result-display5 {
  display: none;
}
#waiting-result-display6 {
  display: none;
}
#waiting-result-display7 {
  display: none;
}#waiting-result-display8 {
  display: none;
}
/*******ARESULT FORMATTING 1******/
.waiting-result-display1 {
  text-align:center;
  background-color:white;
}
.result-display1 p {
  font-size:1.5em;
  margin-bottom:0;
}
.result-display1 img{
  margin-top:0;
  text-align:center;
  min-width:50vw;
}
/******* RESULT FORMATTING 2******/
.result-display2 {
background-color:white;
  }

