nav {
    width: 100%;
    font-size: 20px;
    border-bottom: solid .05px #22668d5b;
    background-color: #FFCC70;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    margin: 0;
     color: 1px solid #333  ;
}

nav ul li {
    position: relative;
    margin-right: 20px;
    padding: 5px;
    
    
}

nav ul li a {
    display: flex;
    text-decoration: none;
   transition: text-decoration 0.5;
    padding: 10px;
    display: block;
    color: #22668d;
    
}
nav ul li a:hover{
    text-decoration: underline;
}

footer {
    font-size: 20px;
    background-color: #FFCC70;
    text-align: center;
    padding: 10px;
    
}


.dropdown-box {
    position: absolute;
    background-color: #fffadd;
    width: 200px;
    box-shadow: 0px 8px 16px 0px #22668d48;
    z-index: 1;
    padding: 10px;
}

.dropdown-box a {
   padding: 5px;
   transition: text-decoration 0.5s;
}
.dropdown-box a:hover{
    text-decoration: underline;
}

:root{
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 16px;
    background-color: #fffadd;
    color: #22668d;
}
